-extends 'base.haml'
-block main
  .column.is-two-thirds
    .box
      .columns
        .column.is-half.is-offset-one-quarter
          %form action = '/' method = 'post' enctype = 'multipart/form-data'
            {{ form.csrf_token }}
            .field
              %label.label 
                = form.title.label 
              %p.control
                = form.title(size=20, class='input')
            .field
              %label.label
                = form.filename_title.label
              %p.control
                = form.filename_title
            .field
              = form.actualfile
            .has-text-centered
              %button.button.is-info type = 'submit'
                Upload
  .column
    .panel
      %p.panel-heading 
        Latest multimedia files
      -for media in last_multimedia:
        %a.panel-block.is-paddingless href = "/{{ media.unique_id }}"
          -if 'image' in media.mime_type
            .thumbnail style = "background-image: url({{ url_for('uploaded_file', filename=media.filename) }})");"
          -elif 'video' in media.mime_type
            .thumbnail.level
              .level-item
                %span.icon.is-medium
                  %i.fa.fa-play
          -elif 'audio' in media.mime_type
            .thumbnail.level
              .level-item
                %span.icon.is-medium
                  %i.fa.fa-volume-down
          = media.title
    .panel
      %p.panel-heading 
        Last uploaded files
      -for userfile in last_files
        %a.panel-block href = "/{{ userfile.unique_id }}"
          %span.panel-icon
            %i.fa.fa-file-o aria-hidden = 'true'
          = userfile.title
    %progress.progress.is-info value = '{{ percent_space }}' max = '100' 
      = percent_space
    %p.has-text-centered
      {{ used_space }} / {{ total_space }}

